body, input, select, button {
    font-family: "Sanchez", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
  }
  
  .sanchez-regular-italic {
    font-family: "Sanchez", serif;
    font-weight: 400;
    font-style: italic;
  }

#events {
    height: 300px;
    overflow: scroll;
    width: 40%;
}

div#currentEvent, div#gameButtons div {
    background-color: #ccc;
}

#events div.odd {
    background-color: #eee;
}

#events div.even {
    background-color: #fff;
}

#playerStats {
    width: 412px;
    margin: 20px 0;
}

.stat {
    position: relative;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    background-size: 0% 100%; 
}

.statValue {
    position: absolute;
    right: 10px;
}

.stat::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    /* background-color: rgba(0, 128, 0, 0.5); /* Green color with transparency */
    background-color: var(--background-color);
    background-size: inherit; /* Inherit the background-size from .stat */
    width: var(--width, 0); /* Use the custom property */
}

form label {
    display: block;
    margin-bottom: 10px;
    width: 400px;
    position: relative;
    padding: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

form label input, form label select {
    right: 10px;
    position: absolute;
}

form button {
    width: 412px;
}

form select {
    width: 170px;
    text-align: center;
}

.avatar {
    width: 412px;
    height: 100px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}

.avatar img {
    position: absolute;
    top: 0;
    width: 88px;
    height: 88px;
    left: 162px;
    image-rendering: pixelated;
}

.name {
    margin: -10px 0 10px;
    text-align: center;
    width: 412px;
    border: 1px solid #ccc;
    border-top: none;
}

#events div {
    margin: 0 0 10px;
    padding: 5px;
}

#gameButtons {
    margin: 20px;
}

  