html, input, select, button, body {
    background-color: #2d2d3b;
    color: #adaddf;
}

input, button, select {
    border: 2px solid #4b4b6b;
}

select:hover, button:hover, input:hover, option:hover, a:hover, select:focus, button:focus, input:focus, option:focus, a:focus {
    background-color: #39394e;
}

#footer {
    margin: auto;
    width: 20%;
    text-align: center;
    font-size: 15px;
}

::selection {
    color: #39394e;
    background: #adaddf;
}

#events {
    border: 2px solid #4b4b6b;
}

::-webkit-scrollbar {
    border-left: 2px solid #adaddf;
}

::-webkit-scrollbar-track {
    background: #adaddf;
    border-left: 2px solid #adaddf;
}

::-webkit-scrollbar-thumb {
    background: #2d2d3b;
    border-left: 2px solid #adaddf;
}

::-webkit-scrollbar-thumb:hover {
    background: #39394e;
    border-left: 2px solid #adaddf;
}

div#currentEvent, div#gameButtons div {
    background-color: #adaddf;
    color: #2d2d3b;
}

#events div.odd {
    background-color: #39394e;
}

.stat {
    background-color: #39394e;
    border: 2px solid #4b4b6b;
}

form label {
    border: 2px solid #4b4b6b;
}

.avatar {
    border: 2px solid #4b4b6b;
    background-color: #d1d1f1;
}

.name {
    border: 2px solid #4b4b6b;
}

#gameButtons {
    border: 2px solid #4b4b6b;
}

#eventImage {
    border: 2px solid #4b4b6b;
}