html, input, select, button, body {
    background-color: #f3f3f3;
    color: #666666;
}

input, button, select {
    border: 2px solid #666666;
}

select:hover, button:hover, input:hover, option:hover, a:hover, select:focus, button:focus, input:focus, option:focus, a:focus {
    background-color: #d9d9d9;
}

::selection {
    color: #f3f3f3;
    background: #999999;
}

#events {
    border: 2px solid #666666;
}

::-webkit-scrollbar {
    border-left: 2px solid #666666;
}

::-webkit-scrollbar-track {
    background: #666666;
    border-left: 2px solid #666666;
}

::-webkit-scrollbar-thumb {
    background: #f3f3f3;
    border-left: 2px solid #666666;
}

::-webkit-scrollbar-thumb:hover {
    background: #d9d9d9;
    border-left: 2px solid #666666;
}

div#currentEvent, div#gameButtons div {
    background-color: #b7b7b7;
    color: #000000;
}

#events div.odd {
    background-color: #d9d9d9;
}

.stat {
    background-color: #d9d9d9;
    border: 2px solid #666666;
}

form label {
    border: 2px solid #666666;
}

.avatar {
    border: 2px solid #666666;
    background-color: #ffffff;
}

.name {
    border: 2px solid #666666;
}

#gameButtons {
    border: 2px solid #666666;
}

#eventImage {
    border: 2px solid #666666;
}