name: Upload to itch.io

on: 
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  upload-new-version:
    runs-on: ubuntu-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v2

    - name: Upload to itch.io
      uses: Ayowel/butler-to-itch@v1
      with:
        butler_key: ${{ secrets.ITCH_TOKEN }}
        itch_user: goosey-games
        itch_game: the-wanderers
        version: ${{ github.sha }}
        files: |
          html the-wanderers

